body {
    background-color: darkorchid;
}


header {
    background-color: plum;
    font-size: 40px;
}

    header p {
        font-size: 24px;
        font-weight: bold;
    }

main {
    background-color: darkorchid;
    font-weight: bold;
    text-decoration-color: black;
    padding: 5%;
    text-align: center;
}

h1 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

nav a {
    font-weight: bold;
    color: white;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: darkslateblue;
    border-top: 2px dotted darkgray;
    border-bottom: 2px dotted darkgray;
}

nav li:hover {
    background-color: darkblue;
}


nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .8em /*1em*/;
        display: block;
        font-size: 16px;
    }

section.galleryItem {
    margin: auto;
    display: inline-block;
    width: 500px;
}

    section.galleryItem img {
        width: 75%;
        height: auto;
        margin: auto;
        display: inline-block;
    }

article.galleryItem {
    margin: 2%;
    display: inline-block;
    width: 500px;
    height: auto;
    padding: 3%;
}

    article.galleryItem p {
        padding: 10%;
        margin: auto;
        display: inline-block;
    }

    article.galleryItem h2 {
        padding: 0;
        margin: auto;
        display: inline-block;
    }

    article.galleryItem img {
        width: 100%;
        height: auto;
        display: inline-block;
    }



table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
    margin-bottom: 2em;
    background-color: paleturquoise;
}

td {
    padding: 2em;
}

footer {
    padding: 3%;
    background-color: lightblue;
}

section.galleryItem h2 {
    text-decoration: underline;
}



.main {
    font-size: 36px;
    font-weight: bold;
    Text-align: center;
}

.gfg {
    margin-left: 60px;
    border: 50px solid #009900;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 50px;
}

.gfg1 {
    font-size: 42px;
    font-weight: bold;
    color: #009900;
    margin-top: 60px;
    background-color: #c5c5db;
}

.gfg2 {
    font-size: 18px;
    font-weight: bold;
    background-color: #c5c5db;
}


div.galleryItem { 
    display: inline-block;
    text-align: center;
    border: 1px solid #80F;
    grid-column: auto;
    /*border-bottom:*/ 
}

aside h2 {
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}

#leftColumn {
    width: 73%;
    border-right: 1px solid teal;
    padding: 20px;  
}

#rightColumn {
    width: 25%;
    float: right;
}

aside h2 {
    margin-top: 0;
}

section.imageGallery {
    /*display: inline-block;*/
   
    display: table-row;
    /*text-wrap: inherit;*/
}

div.teamGalleryItem {
    /*border-radius: 50%;*/
    float: none;
    /*padding: 10px;*/
    /*margin: 0 15px 0 0;*/
}

p.p {
    /*text-overflow: ellipsis;*/
    text-align: left;
    text-space-collapse: collapse;
   
}


